{% extends 'base.html' %}

{% block content %}
    <span class="title">
        <h1>{% block title %} Translations {% endblock %}</h1>
    </span>
    <div class="questions">
        <h2>Translations Blueprint</h2>

        <div class="translation">
            <div class="source-text">
                <form method="POST">
                    <p>
                        <textarea id="q-content"
                                name="original"
                                placeholder="Original"
                                cols="30" rows="3"></textarea>
                    </p>
                    <textarea id="q-answer"
                            name="translation"
                            placeholder="Translation"
                            cols="30" rows="3"></textarea>
                    <p><input type="submit"></p>
                </form>
            </div>
            <div class="translations-list">
                {% for question in questions %}
                    <div class="question">
                        <h4>{{ question.content }}</h4>
                        <p>{{ question.answer }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}